<div class="list-group{% for mod in mods %} list-group--{{ mod }}{% endfor %}{% if bootstrap %} row {{bootstrap.rowClass}}{% endif %}">
  {% for listItem in listItems %}
      {% if listItem.nestedMods %}
        {% set nestedMods = listItem.nestedMods %}
      {% else %}
        {% set nestedMods = nestedMods %}
      {% endif %}
  {%
    set mainProperties = {
    'nestedMods': nestedMods,
    'bodyFontGradient': bodyFontGradient,
    'labelMods': labelMods,
    'linkMods': linkMods
     }
  %}

  {% set config = mainProperties|objAssign(listItem) %}

    {% if bootstrap %}
      <div class="{{ bootstrap.last if bootstrap.last and loop.last else bootstrap.cols }}">
        {% render "@"+(listItem.component if listItem.component else component), config %}
      </div>
    {% else %}
          {% render "@"+(listItem.component if listItem.component else component), config %}
    {% endif %}
  {% endfor %}
</div>
