.c-button {
  font-size: 1rem;
  line-height: (20/16);
  display: inline-block;
  // padding: $space-medium $space-large;
  background-color: $button-background--primary;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
  vertical-align: middle;
  user-select: none;
  outline: none;

  &:hover {
    background-color: $button-background--primary_hover;
    color: white;
  }

  // &:active {
  //   background-color: $button-background--primary_active;
  //   color: white;
  // }

  @media print {
    display: none;
  }
}

.c-button--more {
  width: 100%;
}

/** by state **/

.c-button[disabled] {
    background: #c4c4c4;
    color: black;
}

/** by color **/

.c-button--secondary {
  background-color: $button-background--secondary;

  &:hover {
    background-color: $button-background--secondary_hover;
    color: white;
  }

  // &:active {
  //   background-color: $button-background--secondary_active;
  //   color: white;
  // }
}

.c-button--dark {
  background-color: $button-background--dark;

  &:hover {
    background-color: $button-background--dark_hover;
    color: white;
  }

  // &:active {
  //   background-color: $button-background--dark_active;
  //   color: white;
  // }
}


/** by size **/
/**
 * standart
 */
.c-button {
  min-width: 215px;
  padding: 11px 15px;
}
.c-button--small {
  min-width: 170px;
  padding: 8px 15px;
}
.c-button--big {
  width: 372px;
  max-width: 100%;
  font-size: 25px;
}


/** with image-icon **/
.c-button {
  &.c-button--with-image {
    min-width: 200px;
    .c-button__image {
      margin-right: 10px;
    }
  }
}
