
.form-group {
    display: flex;
}

/** temporary hardcode **/
.form-group--with-addon {

  $form-group__border-color: palette(primary);

  // control
  $form-group__control-width: 55px;
  $form-group__control-height: 30px;
  $form-group__control-font-size: 20px;

  // addon
  $form-group__addon_border-color: $form-group__border-color;
  $form-group__addon_width: 46px;
  $form-group__addon_height: $form-group__control-height;
  $form-group__addon_text-color: #fff;
  $form-group__addon_bg-color: palette(primary);
  $form-group__addon_bg-color--hover: palette(primary, light);
  $form-group__addon_bg-color--active: palette(primary, dark);

  .form-control {
    width: $form-group__control-width;
    font-size: $form-group__control-font-size;
    outline: none;
    text-align: center;
    vertical-align: top;
    border: 1px solid $form-group__border-color;
    height: $form-group__control-height;
  }
  /** addon **/
  .form-group-addon {
    /**
     * text addon
     */
    &--text {
        outline: none;
        text-align: center;
        vertical-align: top;
        border: 1px solid $form-group__addon_border-color;
        height: $form-group__addon_height;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: $form-group__addon_bg-color;
        color: $form-group__addon_text-color;
        cursor: pointer;
        display: inline-block;
        line-height: $form-group__addon_height;
        padding: 0 5px;
        width: $form-group__addon_width;
    }
  }
}
