{% extends "@section" %}
{% block section %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        {% render "@gallery-slider", aboutSlider, true %}
      </div>
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 pl-lg-3 pl-xl-5">
        {% render "@section-title", sectionConfig %}
        {% render "@list-group", aboutList %}
        <div class="btn-group justify-content-center justify-content-md-start">
          <div class="btn-item">{% render "@button", { label: "Узнайте о нас больше", mods: ["secondary"], href: "/about"} %}</div>
          <div class="btn-item">{% render "@button", { label: "Узнайте о производстве", mods: ["dark"], href: "/production" } %}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
ы
