<div class="top-bar">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-auto col-md-9">
        {% include "@search-form" %}
      </div>
      <div class="col-12 col-sm-auto col-md-3 mt-2 mt-sm-0">
        <div class="top-bar__actions">
          <a href="#" class="top-bar__action-link">Вход</a><span class="top-bar__action-sep">/</span><a href="#" class="top-bar__action-link">Регистрация</a>
        </div>
      </div>
    </div>
  </div>
</div>
