.c-field {
  font-size: 1rem;
  line-height: (20/16);
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: $space-medium;
  }

  @media print {
    display: none;
  }
}

.c-field__icon {
  // height: 1.8rem;
  // width: 1.8rem;
  // margin-left: 0.5rem;
  // margin-top: 0.25rem;
  height: 100%;
  width: 1.8rem;
  margin-left: 0.5rem;
}

.c-field__input {
  width: 100%;
  border: 0;
  border-radius: 0;
  padding: $space-small;
  box-shadow: inset 1px 1px 0 $prose-color--rule;

  &:focus {
    outline: 0 none;
    // box-shadow: inset 0 0 0 2px $color-focus;
    box-shadow: inset 1px 1px 0 rgba(119, 119, 136, 0.25);
  }
}

.c-field__label {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: $size-xlarge;
  padding: $space-medium;
  font-weight: 700;

  + .c-field__input {
    padding-left: ($size-xlarge + $space-medium);
  }
}

.c-field__label--icon {
  padding: $space-small;
  padding: 0;

  + .c-field__input {
    padding-left: $size-large;
  }
}

.c-field--combined {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .c-field__input {
    width: auto;
    border-radius: 3px;
  }
  .c-button {
    margin-left: 29px;
  }
}
