{% extends "@section" %}
{% block section %}
  <div class="container">
    <div class="row">
        <div class="col">{% render "@section-title", sectionConfig %}</div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        {% render "@list-item", generalPartner %}
      </div>
      <div class="col-xs-12 col-md-6">

        {% render "@list-group", partnersList %}
        <a class="dealers-link" href="/dealers">
          Посмотреть дилеров
        </a>
      </div>
    </div>
  </div>
{% endblock %}
