<!DOCTYPE html>
<html lang="ru-ru" dir="ltr" class="no-js">
  <head>
    <link rel="dns-prefetch" href="//fonts.googleapis.com"/>
     {# <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script> #}
    {# <script>
      var docEl = document.documentElement;
      docEl.className = docEl.className.replace('no-js', 'has-js');

      function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.src = "{{ 'assets//scripts/app.js' | path }}";
        document.body.appendChild(element);
        document.body.dataset.menuExpanded = 'false';
      }

      if (document.querySelector && docEl.classList && window.addEventListener) {
        docEl.className += ' js-enhanced';
        var enhanced = true;
        window.addEventListener("load", downloadJSAtOnload, false);
      } else {
        var enhanced = false;
      }
    </script> #}

    <link rel="shortcut icon" href="{{ '/assets/icons/icon.ico' | path }}" type="image/ico"/>
    <link rel="apple-touch-icon" href="{{ '/assets/icons/icon.png' | path }}" type="image/png"/>
    <link rel="mask-icon" href="{{ '/assets/icons/icon.svg' | path }}" color="{{ site.theme_color }}"/>
    <link rel="manifest" href="/manifest.json"/>
    <link rel="stylesheet" href="{{ '/assets/styles/app.css' | path }}"/>

    <style>

    </style>

    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{ _target.context.title }}</title>
  </head>

  <body>
    {{ yield }}

    {# <script src="assets//scripts/vendors/jquery-3.1.1.min.js" charset="utf-8"></script>
    <script src="assets//scripts/vendors/jquery-migrate-3.0.0.js" charset="utf-8"></script> #}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/scripts/app.js' | path }}" charset="utf-8"></script>
  </body>
</html>
