// ========================================================
//
// Application styles
//
// ========================================================

// Webfonts
// @import url('http://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,700|Source+Serif+Pro:400,400italic');

@import 'fonts/fonts.scss';

// Bootstrap grid system v4.1
@import 'vendors/bootstrap/main.scss';

// Functions
@import 'functions/**/*.scss';

// Config
@import 'config/**/*.scss';

// Helpers
@import 'helpers/**/*.scss';

// Base HTML element resets and styling
@import 'base/**/*.scss';

// Vendors
// Bootstrap custom settings
@import 'vendors/bootstrap/custom.scss';

@import 'vendors/jquery.mmenu/jquery.mmenu.oncanvas.scss';
@import 'vendors/swiper/swiper.min.scss';
@import 'vendors/PhotoSwipe/main.scss';
// @import 'vendors/PhotoSwipe/default-skin/default-skin.scss';
@import 'vendors/PhotoSwipe/micro-skin.scss';
@import 'vendors/lazyYT/lazyYT.custom.scss';
@import 'vendors/chosen/chosen.custom.scss';
@import 'vendors/flatpickr/flatpickr.min.scss';
@import 'vendors/ripple.js/ripple.scss';
// @import 'https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.5.3/core/css/jquery.mmenu.all.css';


// Components
@import '../../components/**/*.scss';

// Themes
// @import 'themes/**/*.scss';
